<h1>Search Results</h1>
</br />
<p>Entered Text: <span class="results-output"><%= @text %></span></p>
<p>Search Word: <span class="results-output"><%= @word %></span></p>
<p>Number of Case-Insensitive Occurrences in Text:
  <span class="results-output"><%= @word_frequency_count %></span>
</p>
<br />
<a href="/form"><button class="btn">Search Again</button></a>
